{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <p style="font-weight: bold">Below I should see my "Hello" component rendered:</p>
    <div {{ react_component('Hello') }}></div>
</div>
{% endblock %}
