<div{{ attributes.defaults({
    style: 'display: flex; max-width: 1200px; margin: 0 auto; gap: 8px'
}) }}>

    <div style="flex: 1">
        {{ ux_map(map, { style: 'height: 600px'}) }}
    </div>

</div>
