<div{{ attributes.defaults({
    style: 'display: flex; max-width: 1200px; margin: 0 auto; gap: 8px'
}) }}>

    <div style="flex: 1">
        {{ ux_map(map, { style: 'height: 600px'}) }}
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
        <button type="button" data-action="live#action" data-live-action-param="randomCenter">Random Center</button>
        <button type="button" data-action="live#action" data-live-action-param="centerOnLyon">Center on Lyon</button>
        <button type="button" data-action="live#action" data-live-action-param="centerOnParis">Center on Paris</button>
        <button type="button" data-action="live#action" data-live-action-param="randomZoom">Random zoom</button>
        <div><hr></div>
        <button type="button" data-action="live#action" data-live-action-param="addRandomMarker">Add random marker</button>
        <button type="button" data-action="live#action" data-live-action-param="removeFirstMarker">Remove first marker</button>
        <button type="button" data-action="live#action" data-live-action-param="clearAndAddRandomMarkers">Clear and add random markers</button>
        <div><hr></div>
        <button type="button" data-action="live#action" data-live-action-param="addRandomPolygon">Add random polygon</button>
        <button type="button" data-action="live#action" data-live-action-param="removeFirstPolygon">Remove first polygon</button>
        <div><hr></div>
        <button type="button" data-action="live#action" data-live-action-param="addRandomPolyline">Add random polyline</button>
        <button type="button" data-action="live#action" data-live-action-param="removeFirstPolyline">Remove first polyline</button>
        <div><hr></div>
        <button type="button" data-action="live#action" data-live-action-param="addRandomCircle">Add random circle</button>
        <button type="button" data-action="live#action" data-live-action-param="removeFirstCircle">Remove first circle</button>
        <div><hr></div>
        <button type="button" data-action="live#action" data-live-action-param="addRandomRectangle">Add random rectangle</button>
        <button type="button" data-action="live#action" data-live-action-param="removeFirstRectangle">Remove first rectangle</button>
    </div>

</div>
